.top{
  display:flex;
  justify-content: center
}
.peopleContainer{
  width: 455px;

}

.bottom {
  border-top: 1px solid black;
}

.clearButton {
  vertical-align: top;
  text-align: start;
  display: inline-block;
  width: 20%;
  text-align: center;
  padding-top: 25px;
}

.filmDescLabel {
  vertical-align: top;
  display: inline-block;
  width: 20%;
  text-align: center;
  padding-top: 25px;
}

.filmDescriptions {
  vertical-align: top;
  padding-top: 25px;
  display: inline-block;
  width: 60%;
  margin-bottom: 25px;
}

.film {
  padding-bottom: 25px;
}